body{
    font-size: 110%;
    font-family: Arial, Helvetica, sans-serif;
}

#quantidademadeira{
    font-size: 125%;
    padding: 20px;
}

#welcome{
    font-size: 88%;
}

#buttoncoletarmadeira{
    margin-left: 50px;
    padding: 15px;
}

#divnome{
    display: flex;
    justify-content: center;
    margin-top: 40vh;
}

#nomedousuario{
    padding: 30px;
    text-align: start;
    font-size: 20px;
    border-radius: 10px 0px 0px 0px;
}

#buttonconfirmarnickname{
    width: 60px;
    background-color: rgb(132, 192, 129);
    border-radius: 0px 0px 10px 0px;
}

#buttonconfirmarnickname:hover{
    background-color: rgb(89, 148, 86);
}

#selectmachado{
    margin-left: 50px;
    display: none;
    margin-bottom: 10px;
    width: 159px;
}

#arvoreprincipal{
    font-size: 400%;
    margin-left: 50px;
    display: none;
}

#machadopedra{
    display: none;
}

#botaomachadopedra{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    margin-left: 20px;
    margin-top: 20px;
    display: none;
}